*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    /* background-image: url("./img/pexels-ian-panelo-5044869.jpg"); */
     /* background-image: url("./img/pexels-pixabay-355465.jpg"); */
  height: 500px;
  width: 500px;
  background-image: url("https://images.pexels.com/photos/5044869/pexels-photo-5044869.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}