*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    height: 600px;
    text-align: center;   
    /* by this text-align make the all text make centre */
}

.background{
    background-image: url(../img/pexels-leefinvrede-37741230.jpg);
    /* this is the external link in background image */
    background-attachment: fixed;
    /* This is the main property used for the Parallax Effect. */
    /* This creates a Parallax Scrolling Effect. */
    height: 800px;
}