.car img {
    width: 700px;
    height: 500px;
    display: block;

    /* Changes the image into a block-level element.

Benefits:

Starts on a new line.
Takes the full available width by default.
Removes the small space that appears under images due to their default inline behavior. */
}  
/* Selects the <img> inside the element with class car. */
.bike img {
    width: 700px;
    height: 500px;
    display: block;
}   

.container{
    border: 1px solid black; 
    /* Creates a 1px solid black border around the container. */
    height: 250px;
    width: 250px;
    background-color: cadetblue;
    /* Changes the background color to cadetblue. */
}

.background{
    border: 2px solid black;
    height: 250px;
    width: 249px;
}
.background h1{
    color: brown;
    /* This selects only the <h1> inside .background. */
}
.back{
    border: 2px dotted black;
    height: 150px;
    width: 150px;
}